*{
  padding: 0;
  margin: 0;
}
body {
  height: 100vh !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.custom-loader {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #f31111 #0000;
  animation: s1 1s infinite;
}
@keyframes s1 {
  to {
    transform: rotate(0.5turn);
  }
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 1rem;
  color: white;
}
.nav-left,.nav-center,.nav-right{
display: flex;
align-items: center;
}
.nav-left a,a{
text-decoration: none;
}
.nav-form{
  display: flex;
  gap: 0.5rem;
}
.nav-form input[type="search"]{
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.5rem;
  outline: none;
  color: white;

}
.nav-form button{
  background-color: gray;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.navbar-list{
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-left a{
  text-decoration: none;
  display: flex;
  gap: 1rem;
}

.toogler-icon-menu{
  display: none;
  width: 24px;
  height: 24px;
}

input[type="search"] {
  width: 22vw;
}

main {
  flex: 1;
  background-color: #000000;
  overflow-y: auto;
  display: flex;
}
*::-webkit-scrollbar {
  display: none;
}
#sideMenu {
  flex: 0.15;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0px 0.5rem;
  align-items: center;
  background-color: #101010;
}
.container{
  padding: 1rem 0rem;
  width: 100%;
}
.nav-item{
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
}
.nav-item:hover{
background-color: #63666a;
}
.navbar-nav{
  list-style: none;
}
.nav-link {
  color: white !important;
}
.linkText{
  margin-left: 0.3rem;

}
.con-head{
  color: white;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
#sideMenu::-webkit-scrollbar,
#upperFilter::-webkit-scrollbar,
#videoContainer::-webkit-scrollbar {
  display: none;
}

#videoSection {
  flex: 0.85;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
}

#upperFilter {
  display: flex;
  overflow-x: scroll;
  background-color: #000;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

#upperFilter>button {
  margin-right: 0.8rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  outline: none;
  padding: 0.3rem 0.5rem;
}

#upperFilter>button:hover {
  background-color: white;
  color: #000;
}

#videoContainer {
  flex: 1;
  display: flex;
  background-color: #000;
  overflow-y: auto;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;

}
#videos{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.card2 {
  background-color: #000;
  border: 1px solid #1b1b1b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 22%;
  max-width: 23%;
  min-width: 15rem;
  height: fit-content;
  overflow: hidden;
  border-radius: 0.5rem;
  color: white;
}
.card-img-top{
  width: 100%;
}
.cardBody{
  position: relative;
  padding: 0.7rem 0.3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.channelImage{
  flex: 0.2;
}
.videoDetails{
  flex: 0.8;
}
.channelThumbnail {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.card-subtitle{
  font-size: 0.8rem;
}
.card-title {
  line-height: 1.2em !important;
  height: 2.5em;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

#videoDuration {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-10%) translateY(-130%);
  color: white;
  background-color: rgb(39, 39, 39);
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
}

.show{
  display: block;
}
.hide{
  display: none;
}


/* media Query */
@media (max-width: 768px) {
  .navbar{
      padding: 0.5rem;
  }
  .nav-right{
      display: none;
  }
  .toogler-icon-menu{
      display: block;
      align-self: center;
  }

  #sideMenu {
      text-align: center;
      height: 100%;
      width: 10%;
  }
  .con-head{
      font-size: 0.7rem;
  }
  .linkText{
      display: none;
  }
  .nav-item{
      text-align: center;
      justify-content: center;
  }
  #videoSection {
      flex: 1;
  }
  #videoContainer {
      padding: 0rem;
  }
  #videos{
      justify-content: center;
      align-items: center;
  }
  .card2 {
      width: 90%;
      max-width:90%;
      min-width: 12rem;
  }

 }

 @media (max-width: 425px) {
  .card2 {
      width: 100%;
      max-width:95%;
      min-width: 12rem;
  }
 }